body {
    background-image: url(assets/tim-navis-Flxl7OUuO1M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#recipe {
    background-color: rgba(61, 63, 56, 0.257);
    backdrop-filter: blur(5px);
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 300px;
    height: 300px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 10px;
}
h1 {
    width: 400px;
    height: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#content {
    background-color: rgba(240, 255, 255, 0.435);
    backdrop-filter: blur(10px);
    width: 500px;
    height: 240px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
}
p {
    width: 200px;
    height: 100px;
    grid-column: 1;
    justify-self: center;
    text-align: center;
}
h2{
    grid-row: 1;
    justify-self: center;
    border: black solid 3px;
    padding: 10px;

}
a {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
